/build
*.o
*.lo
*.so
*.la
*.so.*
*.a
*.dylib
/llvm/build/
/glpk/examples/.libs/
/glpk/examples/glpsol
glpk/src/.libs/
/pluto/candl/.libs/
/pluto/candl/candl
/pluto/clan/.libs/
/pluto/clan/clan
/pluto/cloog-isl/.libs/
/pluto/cloog-isl/cloog
/pluto/cloog-isl/test/.libs/
/pluto/cloog-isl/test/generate_test_advanced
/pluto/isl/.libs/
/pluto/isl/gitversion.h
/pluto/isl/isl_bound
/pluto/isl/isl_cat
/pluto/isl/isl_closure
/pluto/isl/isl_codegen
/pluto/isl/isl_flow
/pluto/isl/isl_flow_cmp
/pluto/isl/isl_pip
/pluto/isl/isl_polyhedron_detect_equalities
/pluto/isl/isl_polyhedron_minimize
/pluto/isl/isl_polyhedron_sample
/pluto/isl/isl_polytope_scan
/pluto/isl/isl_schedule
/pluto/isl/isl_schedule_cmp
/pluto/isl/isl_test
/pluto/isl/isl_test_int
/pluto/lib/.libs/
/pluto/openscop/.libs/
/pluto/openscop/tests/.libs/
/pluto/openscop/tests/osl_int
/pluto/openscop/tests/osl_pluto_unroll
/pluto/openscop/tests/osl_relation_set_precision
/pluto/openscop/tests/osl_test
/pluto/pet/.libs/
/pluto/pet/gitversion.h
/pluto/pet/pet_check_code
/pluto/pet/pet_codegen
/pluto/piplib/.libs/
/pluto/piplib/example/.libs/
/pluto/piplib/example/example_dp
/pluto/piplib/pip_dp
/pluto/polylib/.libs/
/pluto/polylib/Zpolytest64
/pluto/polylib/c2p
/pluto/polylib/count
/pluto/polylib/disjoint_union_adj
/pluto/polylib/disjoint_union_sep
/pluto/polylib/ehrhart_lower_bound
/pluto/polylib/ehrhart_quick_apx
/pluto/polylib/ehrhart_ranking64
/pluto/polylib/ehrhart_union64
/pluto/polylib/ehrhart_upper_bound
/pluto/polylib/example
/pluto/polylib/findv
/pluto/polylib/polytest64
/pluto/polylib/pp64
/pluto/polylib/r2p
/pluto/polylib/testCompressParms64
/pluto/polylib/testehrhart64
/pluto/polylib/testlib
/pluto/polylib/verif_ehrhart64
/pluto/tool/pluto
*.log